.photos-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.photo-button {
  border: 2px solid black;
  /* max-width: 30rem; */
  /* max-height: 20rem; */
}

/* .photos-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
} */

.photos-img {
  max-width: 16rem;
  max-height: 10rem;
}

.photos-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 400px) {
  .photos-img {
    max-width: 98%;
  }
}

@media (min-width: 401px) and (max-width: 900px) {
  .photos-img {
    max-width: 90%;
  }
}