.project-info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.info-row {
    display: flex;
    flex-wrap: wrap;
}

.info-key {
    font-size: 1.2rem;
    font-weight: bold;
}

.info-value {
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: 200;
}

.tech-tags {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1rem;
}

.tech-tag {
    border: 2px solid black;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: bold;
    white-space: nowrap;
}

.resource-div {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1rem;
}

.resource {
    border: 2px solid black;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: bold;
}
@media screen and (max-width: 400px) {
    .info-container {
        width: 100%;
    }
}

@media (min-width: 401px) and (max-width: 900px) {
    .info-container {
        width: 100%;
    }
}
