:root {
    --anchor-color: blue;
    --font-color: black;
    --background-color: white;
    --primary-color: darkblue;
    --secondary-color: darkgreen;
    --active-color: green;
    --icon-color: black;

    --ff-primary: monospace;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --fs-300: 0.8125rem;
    --fs-400: 0.875rem;
    --fs-500: 0.9375rem;
    --fs-600: 1rem;
    --fs-700: 1.5rem;
    --fs-800: 2rem;
    --fs-900: 2.5rem;

    --fs-body: var(--fs-400);
    --fs-primary-heading: var(--fs-800);
    --fs-secondary-heading: var(--fs-700);
    --fs-nav: var(--fs-600);
    --fs-button: var(--fs-300);

    --size-100: 0.25rem;
    --size-200: 0.5rem;
    --size-300: 0.75rem;
    --size-400: 1rem;
    --size-500: 1.5rem;
    --size-600: 2.4rem;
    --size-700: 3rem;
    --size-800: 4rem;
    --size-900: 5rem;

    --icon-color-programming: darkblue;
    --icon-color-audio-visual: darkred;
    --icon-color-digital-fab: darkcyan;
    --icon-color-linux: magenta;
}

@media (min-width: 50em) {
    :root {
        --fs-body: var(--fs-500);
        --fs-primary-heading: var(--fs-900);
        --fs-secondary-heading: var(--fs-800);
        --fs-nav: var(--fs-700);
    }
}

/* Page Styling */
body {
    font-size: var(--fs-body);
    font-family: var(--ff-body);
    color: var(--clr-primary-400);
}

main {
    padding-top: var(--size-900);
}

button > svg {
    pointer-events: none;
}

button:hover {
    cursor: pointer;
    color: var(--active-color);
}

a {
    color: var(--font-color);
    text-decoration: none;
}

a:hover {
    color: var(--active-color);
}

.container {
    --max-width: 80rem;
    --container-padding: 1rem;

    width: min(var(--max-width), 100% - (var(--container-padding) * 2));
    margin-inline: auto;
}

@media (min-width: 300px) {
    .container {
        width: 100%;
    }
}

/* Navbar */
.primary-header {
    border: 2px solid black;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
}

.nav-wrapper {
    min-height: 4rem;
    border: 2px solid purple;
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-home {
    margin-right: auto;
}

.nav-toggle {
    display: none;
}

.navbar {
    width: 100%;
}

.nav-list {
    background-color: white;
    width: 100%;
    font-size: var(--fs-nav);
    font-weight: var(--fw-semi-bold);
    margin-right: 2rem;

    display: flex;
    gap: 2rem;
    justify-content: end;
}

.nav-list a {
    text-decoration: none;
    color: var(--clr-primary-400);
}

.nav-list a:hover,
.nav-list a:focus {
    color: var(--active-color);
}

/* TODO: implement */
.nav-link .current-page {
    color: purple;
}

.nav-social {
    display: flex;
    gap: 1rem;
    justify-content: end;
}

@media (max-width: 50em) {
    .nav-wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .nav-toggle {
        border: none;
        background-color: white;
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
        margin-left: auto;

        display: block;
    }

    .navbar {
        display: none;
    }

    .navbar[data-visible] {
        background-color: white;
        margin-top: 2rem;
        display: block;
    }

    .nav-home {
        margin: auto;
    }

    .nav-list {
        font-size: 1.6rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 2rem;
    }
}

@media (min-width: 300px) {
    .nav-wrapper {
        /* border: 2px solid red; */
        /* background-color: red; */
        width: 100%;
    }
}

/* Home Page */
.home-content {
    margin-top: 16vh;
}

.home-img {
    width: 40vw;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.home-img > img {
    object-fit: contain;
}

@media (max-width: 50em) {
    .home-img {
        width: 100%;
    }
}

@media (max-width: 50em) and (orientation: landscape) {
    .home-img {
        width: 70vw;
    }
}

/* Photos */
.photos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    align-items: start;
    justify-content: center;
}

.photo-img {
    max-width: 80vw;
    max-height: 40vh;
}

@media screen and (max-width: 400px) {
    .photos-img {
        max-width: 98%;
        max-height: 30rem;
    }
}

@media (min-width: 401px) and (max-width: 900px) {
    .photos-div img {
        max-width: 90%;
        max-height: 30rem;
    }
}

/* Contact */
.contact-links {
    margin: auto;
    font-size: 1.4rem;
    font-weight: bold;
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.contact-links > a {
    color: var(--icon-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-links > a:hover {
    color: var(--active-color);
}
