:root {
    --anchor-color: blue;
    --font-color: black;
    --background-color: white;
    --primary-color: darkblue;
    --secondary-color: darkgreen;
    --active-color: darkorange;
    --icon-color: black;

    --icon-color-programming: darkcyan;
    --icon-color-audio-visual: darkred;
    --icon-color-digital-fab: darkgreen;
    --icon-color-linux: darkblue;
    --icon-color-robots: darkorange;
}

/* Page Styling */
body {
    font-size: 100%;
    font-family: monospace;
}

main {
    padding-top: 8rem;
}

button > svg {
    pointer-events: none;
}

button:hover {
    cursor: pointer;
    color: var(--active-color);
}

a {
    color: var(--font-color);
    text-decoration: none;
}

a:hover {
    color: var(--active-color);
}

section {
    padding: 4rem;
}

.container {
    --max-width: 80rem;
    --container-padding: 1rem;

    width: min(var(--max-width), 100% - (var(--container-padding) * 2));
    margin-inline: auto;
}

@media (max-width: 50rem) {
    section {
        padding: 0;
    }
}

.carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: contain;
}

.carousel ul,
li {
    list-style: none;
}

/* Navbar */
.primary-header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.nav-home {
    margin-right: auto;
}

.nav-toggle {
    display: none;
}

.navbar {
    width: 100%;
}

.nav-list {
    background-color: white;
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    margin-right: 2rem;

    display: flex;
    gap: 2rem;
    justify-content: end;
}

.nav-list a {
    text-decoration: none;
    color: var(--clr-primary-400);
}

.nav-list a:hover,
.nav-list a:focus {
    color: var(--active-color);
}

.nav-social {
    display: flex;
    gap: 1rem;
    justify-content: end;
}

@media (max-width: 50em) {
    .nav-wrapper {
        flex-direction: column;
    }

    .nav-toggle {
        border: none;
        background-color: white;
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
        margin-left: auto;

        display: block;
    }

    .navbar {
        display: none;
    }

    .navbar[data-visible] {
        margin-top: 2rem;
        display: block;
    }

    .nav-home {
        margin-left: auto;
        margin-right: 1rem;
    }

    .nav-list {
        font-size: 1.6rem;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        padding-bottom: 2rem;
        padding-right: 1rem;
    }
}

/* Home Page */
.home-content {
    margin-top: 16vh;
}

.home-img {
    width: 40vw;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.home-img > img {
    object-fit: contain;
}

@media (max-width: 50em) {
    .home-img {
        width: 100%;
    }
}

@media (max-width: 50em) and (orientation: landscape) {
    .home-img {
        width: 70vw;
    }
}

/* Photos */
.photos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    align-items: start;
    justify-content: center;
}

.photo-img {
    max-width: 80vw;
    max-height: 40vh;
}

@media screen and (max-width: 400px) {
    .photos-img {
        max-width: 98%;
        max-height: 30rem;
    }
}

@media (min-width: 401px) and (max-width: 900px) {
    .photos-div img {
        max-width: 90%;
        max-height: 30rem;
    }
}

/* Contact */
.contact-links {
    margin: auto;
    font-size: 1.4rem;
    font-weight: bold;
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.contact-links > a {
    color: var(--icon-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-links > a:hover {
    color: var(--active-color);
}
