/* Projects */
.project-carousel {
    border: 4px solid black;
    /* height: 40rem; */
    /* display: grid; */
    /* grid-template-rows: 7fr 1fr */
    position: relative;
    padding: 2rem;
}

.project-carousel-list {
    gap: 2rem;
    padding: 2rem;
}

.project-carousel-controls {
    /* border: 2px solid blue; */
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}

.project-carousel-prev-button,
.project-carousel-next-button {
    border: none;
    background: none;
    font-size: 4rem;
}

.project-carousel-prev-button:hover,
.project-carousel-next-button:hover {
    color: green;
}

.project-carousel-dots {
    border: 2px solid black;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.project-carousel-dot {
    background: none;
    border: none;
}

.project-carousel-dot:hover {
    color: green;
}

/* Project */
.project {
    border: 4px solid black;
    padding: 1rem;
    height: 70vh;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.close-button {
    border: none;
    background: none;
    font-size: 2rem;
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
}

.project-photos {
    /* border: 2px solid blue; */
    width: 48%;
    height: 100%;
    /* padding: 1rem; */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
}

.project-photos-list {
    /* border: 2px solid green; */
    width: 100%;
    height: 100%;

    display: flex;
    position: relative;
    /* padding: 1rem; */
    gap: 1rem;
}

.project-photos-slide {
    /* border: 2px solid red; */
    flex: 0 0 100%;
    /* max-height: 50%; */
    /* height: 30rem; */
    /* padding: 1rem; */
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-photos-slide > img {
    max-height: 100%;
}

.project-photos-controls {
    /* border: 2px solid green; */
    width: 100%;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-photos-prev-button,
.project-photos-next-button {
    border: none;
    background: none;
    font-size: 4rem;
}

.project-photos-prev-button:hover,
.project-photos-next-button:hover {
    color: green;
}

.project-photos-dots {
    /* padding-top: 2rem; */
    margin: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.project-photos-dot {
    border: none;
    background: none;
}

.project-photos-dot:hover {
    color: green;
}

.project-info {
    border: 2px solid black;
    width: 48%;
    height: 100%;
    overflow-y: scroll;
    padding: 1rem;
}
