/* Projects */
.fa-lightbulb,
.fa-volume-high,
.fa-guitar{
    color: var(--icon-color-audio-visual);
}

.fa-computer, 
.fa-cubes, 
.fa-bolt-lightning {
    color: var(--icon-color-digital-fab);
}

.fa-linux,
.fa-gamepad,
.fa-raspberry-pi {
    color: var(--icon-color-linux);
}

.fa-robot,
.fa-computer,
.fa-python,
.fa-js,
.fa-html5,
.fa-css,
.fa-bootstrap {
    color: var(--icon-color-programming);
}

.project-cards {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
    gap: 1rem;
}

/* Project */
.project {
    border: 4px solid black;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.close-button {
    border: none;
    background: none;
    font-size: 2rem;
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
}

.project-photos {
    padding-top: 1rem;
    width: 40rem;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project-photos-list {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;
}

.project-photos-slide {
    flex: 0 0 100%;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-photos-slide > img {
    max-height: 100%;
}

.project-photos-controls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project-photos-controls i {
    margin: 0;
}

.project-photos-prev-button,
.project-photos-next-button {
    border: none;
    background: none;
    font-size: 4rem;
}

.project-photos-prev-button:hover,
.project-photos-next-button:hover {
    color: green;
}

.project-photos-dots {
    max-width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.project-photos-dot {
    border: none;
    background: none;
}

.project-photos-dot:hover {
    color: green;
}

.project-info {
    width: 30rem;
    overflow-y: scroll;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.info-row {
    display: flex;
    flex-wrap: wrap;
}

.info-key {
    font-size: 1.2rem;
    font-weight: bold;
}

.info-value {
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: 200;
}

.tech-tag {
    border: 2px solid black;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: bold;
    white-space: nowrap;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.resource-div {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1rem;
}

.resource {
    border: 2px solid black;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: bold;
}

@media screen and (max-width: 400px) {
    .info-container {
        width: 100%;
    }
}

@media (min-width: 401px) and (max-width: 900px) {
    .info-container {
        width: 100%;
    }
}
