/* Projects */
.projects-container {
    /* border: 2px solid orange; */
}

.project-cards {
    /* border: 2px solid black; */
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
    gap: 1rem;
}

/* Project Carousel Styles */
/* .project-carousel {
    border: 4px solid black;
    position: relative;
    padding: 2rem;
}

.project-carousel-list {
    gap: 2rem;
    padding: 2rem;
}

.project-carousel-controls {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}

.project-carousel-prev-button,
.project-carousel-next-button {
    border: none;
    background: none;
    font-size: 4rem;
}

.project-carousel-prev-button:hover,
.project-carousel-next-button:hover {
    color: green;
}

.project-carousel-dots {
    border: 2px solid black;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.project-carousel-dot {
    background: none;
    border: none;
}

.project-carousel-dot:hover {
    color: green;
} */

/* Project */
.project {
    border: 4px solid black;
    padding: 1rem;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.close-button {
    border: none;
    background: none;
    font-size: 2rem;
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
}

.project-photos {
    position: relative;
    width: 48%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project-photos-list {
    border: 2px solid orange;
    width: 100%;
    height: 100%;
    display: flex;
    /* position: relative; */
    gap: 1rem;
}

.project-photos-slide {
    flex: 0 0 100%;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-photos-slide > img {
    max-height: 100%;
}

.project-photos-controls {
    border: 2px solid orange;
    width: 100%;

    /* position: absolute; */
    /* bottom: 1%; */
    /* transform: translateY(-50%); */

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project-photos-controls i {
    border: 2px solid orange;
    margin: 0;
}

.project-photos-prev-button,
.project-photos-next-button {
    border: none;
    background: none;
    font-size: 4rem;
}

.project-photos-prev-button:hover,
.project-photos-next-button:hover {
    color: green;
}

.project-photos-dots {
    border: 2px solid orange;
    max-width: 75%;
    /* margin: 1rem; */
    position: absolute;
    bottom: 1rem;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.project-photos-dot {
    border: none;
    background: none;
}

.project-photos-dot:hover {
    color: green;
}

.project-info {
    width: 48%;
    height: 100%;
    overflow-y: scroll;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.info-row {
    display: flex;
    flex-wrap: wrap;
}

.info-key {
    font-size: 1.2rem;
    font-weight: bold;
}

.info-value {
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: 200;
}

.tech-tags {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1rem;
}

.tech-tag {
    border: 2px solid black;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: bold;
    white-space: nowrap;
}

.resource-div {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1rem;
}

.resource {
    border: 2px solid black;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: bold;
}

@media screen and (max-width: 400px) {
    .info-container {
        width: 100%;
    }
}

@media (min-width: 401px) and (max-width: 900px) {
    .info-container {
        width: 100%;
    }
}
