:root {
  --anchor-color: blue;
  --font-color: #222;
  --background-color: white;
  --primary-color: darkblue;
  --secondary-color: darkgreen;
  --active-color: green;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 100%;
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--background-color);
}

.onclick:hover {
  cursor: pointer;
  background-color: green !important;
}

.page-content {
  margin-top: 20vh;
  width: 100%;
}

.page-header {
  font-size: xxx-large;
}

.home-img {
  width: 100%;
  height: 60vh;
  margin: auto;
}

.home-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.home-header {
  text-align: center;
}

/* Photos */
.photos-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.photos-img {
  max-width: 80vw;
  max-height: 80vh;
}

.photos-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Contact */
.contact-links {
  font-size: 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.contact-links a {
  color: var(--font-color);
}

.contact-links a:hover {
  color: var(--active-color);
}

@media screen and (orientation:landscape) and (max-width: 1024px) {
  .page-content {
    margin-top: 30vh;
  }
}

@media screen and (orientation:portrait) {
  .page-content {
    margin-top: 15vh;
  }
}